doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js') 
    script(src='/socket.io/socket.io.js')
    script(src='/js/app.js')
  body
    block content
